<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.smartshowbox"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.android.smartshowbox.activity.ActivityWelcome"
            android:label="@string/app_name"
            android:theme="@style/notitle"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.android.smartshowbox.activity.ActivityInitDevice"
            android:screenOrientation="landscape" />
        <activity android:name="com.android.smartshowbox.activity.ActivityDefaultShow"
            android:theme="@style/notitle"
            android:screenOrientation="landscape" />
    </application>

</manifest>
